<body class="publisher">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">UTFPR | Music</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" (link)="quit();">Sair
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="col-md-6 offset-md-3 formSearch">
    <form novalidate [formGroup]="form" class="form-inline">
      <input class="form-control mr-sm-2 col-md-10 black-rounded" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-light my-2 my-sm-0 bold" type="submit">Procurar</button>
    </form>
  </div>
  <div class="modal fade" id="addAlbum" tabindex="-1" role="dialog" aria-labelledby="addAlbumLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addAlbumLabel">Adicionar Album</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="registroForm whiteBG" novalidate [formGroup]="form">
            <div class="form-row">
              <div class="col">
                <label for="generoInput">Nome do Álbum:</label>
                <input formControlName="nome" type="text" class="form-control" placeholder="Dark Side of The Moon">
              </div>
              <div class="col">
                <label for="generoInput">Nome do Artista:</label>
                <input formControlName="nomeArtista" type="text" class="form-control" placeholder="Pink Floyd">
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <label for="generoInput">Link da Capa:</label>
                <input formControlName="capa" type="text" class="form-control" placeholder="http://lorem.ipsum/dolor.jpg">
              </div>
              <div class="col">
                <label for="generoInput">Descrição:</label>
                <input formControlName="descricao" type="text" class="form-control" placeholder="Lorem ipsum dolor sit amet">
              </div>
            </div>
            <hr>
          </form>
          <form class="registroForm whiteBG" novalidate [formGroup]="musica" (ngSubmit)="addMusic()">
            <div class="form-row">
              <div class="col">
                <label for="generoInput">Nome da Música</label>
                <input formControlName="nome" type="text" class="form-control" placeholder="Another Brick in the wall">
              </div>
              <div class="col">
                <label for="inputState">Gênero</label>
                <select formControlName="genero" id="inputState" class="form-control">
                  <option *ngFor="let genero of this.localSt.retrieve('genero')" [value]="genero.id">{{genero.nome}}</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <label for="generoInput">Link da Música:</label>
                <input formControlName="url" type="text" class="form-control" placeholder="https://youtube.com/watch?HEUHEUEUEHU">
              </div>
              <div class="col">
                <label for="inputState">Duração: "Em segundos"</label>
                <input formControlName="duracao" type="text" class="form-control" placeholder="135">
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <label for="inputState">Explicito?</label>
                <select formControlName="explicito" id="inputState" class="form-control">
                  <option [value]=true>Sim</option>
                  <option [value]=false>Não</option>
                </select>
              </div>
              <div class="col">
                <button class="btn btn-success addMusic" type="submit">Adicionar Música</button>
              </div>
            </div>
          </form>
          <hr>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Duracao</th>
                <th scope="col" class="row">Remover</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let musica of musicas; let i of index">
                <td>{{musica.nome}}</td>
                <td>{{musica.duracao}}</td>
                <td>
                  <a (click)="remove(i);">
                    <i class="far fa-trash-alt"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)=addAlbum();>Submeter Álbum</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container albumHolder">
    <div class="row">
      <div class="col-md-4">
        <h2>Meus Álbuns</h2>
      </div>
      <div class="col-md-8">
        <button class="btn btn-light bold float-right" data-toggle="modal" data-target="#addAlbum" (click)="this.getApi.getGender(this.localSt.retrieve('token').token)">Submeter Novo Álbum</button>
      </div>
      <div class="cardMusic col-md-2" *ngFor="let album of this.albuns">
        <div class="itemsContainer">
          <div class="image">
            <a href="#">
              <img [src]="album.capa"
              /> </a>
          </div>
          <div class="play">
            <i class="fas fa-edit"></i>
          </div>
        </div>
        <p class="bold"></p>
        <p>{{album.nome}}</p>
      </div>

    </div>
  </div>
</body>