<div class="sidebar col-md-2">
    <h4>UTFPR | MUSIC</h4>
    <div class="sidebarMenu">
        <ul>
            <li (click)="changePage(1);" class="active" *ngIf="localSt.retrieve('page') === 1">
                <i class="fas fa-home "></i> Home</li>
            <li (click)="changePage(1);" *ngIf="localSt.retrieve('page') !== 1">
                <i class="fas fa-home "></i> Home</li>


            <li>
                <i class="fas fa-search "></i> Pesquisar</li>


            <li (click)="changePage(3);" class="active" *ngIf="localSt.retrieve('page') === 3">
                <i class="fas fa-list "></i> Playlists</li>
            <li (click)="changePage(3);" *ngIf="localSt.retrieve('page') !== 3">
                <i class="fas fa-list "></i> Playlists</li>


            <li class="innerLi ">
                <i class="fas fa-plus "></i> Criar Playlist</li>
            <li class="innerLi " *ngFor="let playlist of playlists" (click)="currPlaylist(playlist);">{{playlist.name}}</li>


            <li (click)="changePage(2);" class="active" *ngIf="localSt.retrieve('page') === 2">
                <i class="fas fa-compact-disc "></i> Albums</li>
            <li (click)="changePage(2);" *ngIf="localSt.retrieve('page') !== 2">
                <i class="fas fa-compact-disc "></i> Albums</li>


            <li (click)="changePage(4);" class="active" *ngIf="localSt.retrieve('page') === 4">
                <i class="fas fa-music "></i> Minhas Musicas</li>
            <li (click)="changePage(4);" *ngIf="localSt.retrieve('page') !== 4">
                <i class="fas fa-music "></i> Minhas Musicas</li>
        </ul>
    </div>
    <div class="row ">
        <div class=" AlbumCover col-md-2 ">
            <img [src]="current[0].img " alt=" ">
            <p>{{current[0].title}}</p>
            <p>{{current[0].author}}</p>
        </div>
    </div>
</div>