.main-content {
  padding: 0;
  margin-top: -30px;
  margin-bottom: 70px;
}
.homePage {
  padding: 15px 15px;
}
h4 {
  color: rgb(245, 245, 245);
}
.active {
  color: #007bff;
}
.buttonplayer {
  text-align: center;
}
.playButton {
  cursor: pointer;
}
.listAlbum {
  margin-top: 20px !important;
}