<body *ngIf="this.localSt.retrieve('token') && this.localSt.retrieve('data')">
  <app-sidebar [current]="current" [playlists]="playlists"></app-sidebar>
    <div class="col-md-10 offset-md-2 main-content">
      <div *ngIf="localSt.retrieve('page') === 4">
        <app-my-music></app-my-music>
      </div>
      <div *ngIf="localSt.retrieve('page') === 3">
        <app-playlist></app-playlist>
      </div>
      <div *ngIf="localSt.retrieve('page') === 2">
        <app-album></app-album>
      </div>
      <div class="homePage" *ngIf="localSt.retrieve('page') === 1 ">
        <h4>Musicas da sua última playlist</h4>
        <div class="row ">
          <div class="col-md-2 " *ngFor="let item of items">
            <app-card-music [img]="item.img" [author]="item.author" [title]="item.title"></app-card-music>
          </div>
        </div>
        <h4>Suas playlists</h4>
        <div class="row ">
    
        </div>
        <h4>Todos os albums</h4>
        <app-card-music  *ngFor="let album of localSt.retrieve('albums')" [img]="album.capa" [author]="album.nomeArtista" [title]="album.nome" (click)="setAlbum(album.id)"></app-card-music>
      </div>
    
      <app-player *ngIf="this.localSt.retrieve('currPlaying')" [music]="this.localSt.retrieve('currPlaying').url"></app-player>
    </div>
</body>    