<div *ngIf="this.localSt.retrieve('currAlbum')">
  <div class="topCover col-md-12">
    <div class="row">
      <div class="imgTopCover col-md-12" style="background: url('https://lh5.googleusercontent.com/-444l_KCN5iA/TXFDWWJyuwI/AAAAAAAABNY/PLNJLdqMyg4/s320/Pink_Floyd_-_Dark_Side_of_the_Moon.jpg')">
        <p>Album</p>
      </div>
      <div class="titleTopCover">

        <h1>{{this.localSt.retrieve('curralbum').nome}} - {{this.localSt.retrieve('curralbum').nomeArtista}}</h1>
        <p>Álbum</p>
      </div>
      <div class="saveSet">
        <i class="fas fa-plus"></i> Salvar</div>
    </div>
  </div>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Play</th>
        <th scope="col">Nome da música</th>
        <th scope="col">Tempo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let musica of localSt.retrieve('musicas').musicas">
        <th scope="row" (click)="play(musica)">
          <i class="fas fa-play"></i>
        </th>
        <td>{{musica.nome}}
          <span class="badge badge-secondary" *ngIf="musica.explicito === 1">Explícito</span>
        </td>
        <td>{{musica.duracao}}s</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-md-12 listAlbum" *ngIf="!this.localSt.retrieve('currAlbum')">
  <h4>Todos os Álbuns</h4>
  <div class="row" *ngFor="let album of localSt.retrieve('albuns')">
    <div class="col-md-2">
      <app-card-music [img]="album.capa" [author]="album.nomeArtista" [title]="album.nome" (click)="setAlbum(album)"></app-card-music>
    </div>
  </div>
</div>