<div class="topCover col-md-12">
  <div class="row">
    <div class="imgTopCover col-md-12" style="background: url('https://lh5.googleusercontent.com/-444l_KCN5iA/TXFDWWJyuwI/AAAAAAAABNY/PLNJLdqMyg4/s320/Pink_Floyd_-_Dark_Side_of_the_Moon.jpg')">
      <p>Album</p>
    </div>
    <div class="titleTopCover">

      <h1>{{this.localSt.retrieve("currPlaylist").name}}</h1>
      <p>Playlist</p>
    </div>
    <div class="saveSet">
      <i class="fas fa-plus"></i> Salvar</div>
  </div>
</div>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Play</th>
      <th scope="col">Nome da música</th>
      <th scope="col">Artista</th>
      <th scope="col">Álbum</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
        <i class="fas fa-play"></i>
      </th>
      <td>Another Brick In The Wall</td>
      <td>Pink Floyd</td>
      <td>Dark Side Of The Moon</td>
    </tr>
    <tr>
      <th scope="row">
        <i class="fas fa-play"></i>
      </th>
      <td>Another Brick In The Wall</td>
      <td>Pink Floyd</td>
      <td>Dark Side Of The Moon</td>
    </tr>
    <tr>
      <th scope="row">
        <i class="fas fa-play"></i>
      </th>
      <td>Another Brick In The Wall</td>
      <td>Pink Floyd</td>
      <td>Dark Side Of The Moon</td>
    </tr>
    <tr>
      <th scope="row">
        <i class="fas fa-play"></i>
      </th>
      <td>Another Brick In The Wall</td>
      <td>Pink Floyd</td>
      <td>Dark Side Of The Moon</td>
    </tr>
    <tr>
      <th scope="row">
        <i class="fas fa-play"></i>
      </th>
      <td>Another Brick In The Wall</td>
      <td>Pink Floyd</td>
      <td>Dark Side Of The Moon</td>
    </tr>
    <tr>
      <th scope="row">
        <i class="fas fa-play"></i>
      </th>
      <td>Another Brick In The Wall</td>
      <td>Pink Floyd</td>
      <td>Dark Side Of The Moon</td>
    </tr>
    <tr>
      <th scope="row">
        <i class="fas fa-play"></i>
      </th>
      <td>Another Brick In The Wall</td>
      <td>Pink Floyd</td>
      <td>Dark Side Of The Moon</td>
    </tr>
    <tr>
      <th scope="row">
        <i class="fas fa-play"></i>
      </th>
      <td>Another Brick In The Wall</td>
      <td>Pink Floyd</td>
      <td>Dark Side Of The Moon</td>
    </tr>
    <tr>
      <th scope="row">
        <i class="fas fa-play"></i>
      </th>
      <td>Another Brick In The Wall</td>
      <td>Pink Floyd</td>
      <td>Dark Side Of The Moon</td>
    </tr>
    <tr>
      <th scope="row">
        <i class="fas fa-play"></i>
      </th>
      <td>Another Brick In The Wall</td>
      <td>Pink Floyd</td>
      <td>Dark Side Of The Moon</td>
    </tr>
    <tr>
      <th scope="row">
        <i class="fas fa-play"></i>
      </th>
      <td>Another Brick In The Wall</td>
      <td>Pink Floyd</td>
      <td>Dark Side Of The Moon</td>
    </tr>
    <tr>
      <th scope="row">
        <i class="fas fa-play"></i>
      </th>
      <td>Another Brick In The Wall</td>
      <td>Pink Floyd</td>
      <td>Dark Side Of The Moon</td>
    </tr>
    <tr>
      <th scope="row">
        <i class="fas fa-play"></i>
      </th>
      <td>Another Brick In The Wall</td>
      <td>Pink Floyd</td>
      <td>Dark Side Of The Moon</td>
    </tr>
    <tr>
      <th scope="row">
        <i class="fas fa-play"></i>
      </th>
      <td>Another Brick In The Wall</td>
      <td>Pink Floyd</td>
      <td>Dark Side Of The Moon</td>
    </tr>
    <tr>
      <th scope="row">
        <i class="fas fa-play"></i>
      </th>
      <td>Another Brick In The Wall</td>
      <td>Pink Floyd</td>
      <td>Dark Side Of The Moon</td>
    </tr>
    <tr>
      <th scope="row">
        <i class="fas fa-play"></i>
      </th>
      <td>Another Brick In The Wall</td>
      <td>Pink Floyd</td>
      <td>Dark Side Of The Moon</td>
    </tr>
    <tr>
      <th scope="row">
        <i class="fas fa-play"></i>
      </th>
      <td>Another Brick In The Wall</td>
      <td>Pink Floyd</td>
      <td>Dark Side Of The Moon</td>
    </tr>
    <tr>
      <th scope="row">
        <i class="fas fa-play"></i>
      </th>
      <td>Another Brick In The Wall</td>
      <td>Pink Floyd</td>
      <td>Dark Side Of The Moon</td>
    </tr>
    <tr>
      <th scope="row">
        <i class="fas fa-play"></i>
      </th>
      <td>Another Brick In The Wall</td>
      <td>Pink Floyd</td>
      <td>Dark Side Of The Moon</td>
    </tr>
    <tr>
      <th scope="row">
        <i class="fas fa-play"></i>
      </th>
      <td>Another Brick In The Wall</td>
      <td>Pink Floyd</td>
      <td>Dark Side Of The Moon</td>
    </tr>
    <tr>
      <th scope="row">
        <i class="fas fa-play"></i>
      </th>
      <td>Another Brick In The Wall</td>
      <td>Pink Floyd</td>
      <td>Dark Side Of The Moon</td>
    </tr>
    <tr>
      <th scope="row">
        <i class="fas fa-play"></i>
      </th>
      <td>Another Brick In The Wall</td>
      <td>Pink Floyd</td>
      <td>Dark Side Of The Moon</td>
    </tr>

  </tbody>
</table>